.users {
    .header {
        height: 50px;
        box-shadow: 0 0 5px #cdcbcb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
        margin-bottom: 30px;

        a {
            font-size: 20px;
            text-decoration: none;
            font-weight: 600;
            color: #2727e5;
        }

        button {
            height: 36px;
            width: 150px;
            color: #2727e5;
            outline: none;
            font-weight: 600;
            border: 1px solid #2727e5;
            background: white;
            border-radius: 4px;
        }
    }
    .mainContent {
        h2 {
            font-size: 30px;
            text-align: center;
            color: #2727e5;
        }

        .usersCartWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .userCart {
                box-shadow: 0 0 10px #e2e2e2;
                width: 280px;
                padding: 40px 20px;
                margin: 20px;
                text-align: center;
                border-radius: 6px;
                
                &:hover {
                    box-shadow: 0 0 10px #cdcbcb;
                    transform: scale(1.02);
                    cursor: pointer;
                }

                h3 {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #cdcbcb;
                    margin-bottom: 10px;
                }

                p {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}